services:
  glances:
    image: nicolargo/glances
    container_name: glances
    ports:
      - 61208:61208
    restart: unless-stopped
    privileged: true
    pid: host
    volumes:
      - ./glances/config:/glances/conf
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Kolkata
      - GLANCES_OPT=-w
