services:
  it-tools:
    container_name: it-tools
    image: corentinth/it-tools:latest
    restart: unless-stopped
    ports:
      - 8080:80
    networks:
      - docker_net
networks:
  docker_net:
    external: true
